.DS_Store
day/*
release/*
!day/.gitkeep
kuma-counter-demo
script-snippets/mesh-infra
kong-mesh/*.tgz
script-snippets/remote-debug-container/glibc/

script-snippets/remote-debug-dlv/dlv/*
!script-snippets/remote-debug-dlv/dlv/.gitkeep